/* HEADER */
header {
    height: 50px;
    background-color: white;
}

/* MAIN */
section {
    position: relative;
}

section img {
    width: 100%;
}

section h2 {
    position: absolute;
    top: 61%;
    left: 50%;
    color: white;
    font-size: 1.7rem;
    height: 14%;
    width: 42%;
}